
.accordion {
    max-width: 700px;
    margin: auto;
}

.panel-title {
    font-size: 17px;
    font-weight: 500;
}

.notes {
    width: 100%;
    font-family: sans-serif;
    min-height: 80px;
}

.btn {
    background: #4BBCFE;
    color: white;
}